/* Reset e Escopo do Widget */
[data-pj-clt-widget] {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Reset de propriedades herdadas */
  all: initial;
  display: block;
  width: 100%;
  height: auto;
  background-color: #f0f2f5; /* Cor de fundo original */
  isolation: isolate; /* Cria novo contexto de empilhamento */
  color: #213547; /* Cor padrão do texto */
}

/* Reset interno para elementos dentro do widget */
[data-pj-clt-widget] * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* Links dentro do widget */
[data-pj-clt-widget] a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
[data-pj-clt-widget] a:hover {
  color: #535bf2;
}

/* Botões dentro do widget (reset básico) */
[data-pj-clt-widget] button {
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
}